*.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.sublime-workspace
*.sublime-project
*.log
*.tmp
*.bak
*.old
*.orig
*.aux
*.out
*.toc
*.tmp
*.lock
*.save
*.log
.env/
*.venv/
env/
venv/
ENV/
.env
*.pyc
*.pyo
*.pyd
__pycache__/
.cache/
data/
Pipfile
Pipfile.lock
poetry.lock
site-packages/